
<h1>Home</h1>

	<% if session[:username] == "admin"%>
		<p>pleasebangmywife.com </p>
		
		<p>
		joty7700:7700clb<br>kdawg040:coolkyle</p>
		
		<%= form_tag do %>
			<p><%= select_tag "params", options_for_select(params, params[:action]) %></p>
			
			<p>
				<%= radio_button_tag 'gender', 'male', @gender=="male" %>
				<%= label_tag 'gender_male', "Male" %><br />
				<%= radio_button_tag 'gender', 'female', @gender=="female" %>
				<%= label_tag 'gender_female', "Female" %><br/>
				<%= email_field_tag "email", @email, :placeholder => "Place your email here"%>
				
				<p>
					<%= submit_tag "Submit"%>
				</p>
			</p>
		<% end %>
		
	<% else current_user %>
		This sample was created by Carl William Tablante. As of now the working links are as follows:
		<p>
		<ul>
			<li>HOME - This page is static, contains information about the site</li>
			<li>PRODUCTS - This page is static. It can't be accessed unless you're logged in</li>
			<li>SERVICES - This page shows a basic CRUD. It can't be accessed unless you're logged in</li>
			<li>LOGIN - Login page. This demonstrates user authentication.</li>
			<li>SIGN UP NOW - Registration page. This demonstrates user registration</li>
			<li>LOGOUT NOW - Logs you out</li>
		</ul>
		</p>
	<% end %>

