	<nav><!-- top nav -->
		<div class="menu">
			<ul>
				<li><%= link_to "Home", '#' %></li>
				<li><%= link_to "About", '#' %></li>
				<li><%= link_to "Recipes", '#' %></li>
				<li><%= link_to "Products", '#' %></li>
				<li><%= link_to "Services", '#' %></li>
				<li><%= link_to "Support", '#' %></li>
				<li><%= link_to "Contact Us", '#' %></li>
			</ul>
		</div>
	</nav><!-- end of top nav -->