		<aside id="sidebar"><!-- sidebar -->
				<h3>Things To Do</h3>
					<ul>
						<li><%= link_to "Create Meals", '#' %></li>
						<li><%= link_to "Chat With Friends", '#' %></li>
						<li><%= link_to "Order Now", '#' %></li>
						<li><%= link_to "Sign Up Now", '#' %></li>
					</ul>
					
				<h3>Sponsors</h3>
					<%= image_tag("adv.jpg") %></ br>
					<%= image_tag("adv.jpg") %>

				<h3>Connect With Us</h3>
					<ul>
						<li><%= link_to "Youtube", "http://www.youtube.com", :target => "_blank" %></li>
						
					</ul>

		</aside><!-- end of sidebar -->