<!DOCTYPE html>
<html>
	<head>
	  <title>BakeShop</title>
		<%= stylesheet_link_tag 'styles', :media=> 'screen'%>
		<%= stylesheet_link_tag 'print', :media=> 'print'%>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="wrapper"><!-- #wrapper -->
			<%= render 'layouts/menu'%>
			<%= render 'layouts/header'%>
			<section id="main">
				<%= render 'layouts/sidebar'%>
				<section id="content"><!-- #content -->

			<% flash.each do |key, value|%>
				<div class="flash <%= key %>"><%= value %></div>
			
			<% end %>

					
					<%= yield %>	
					<div class="debug">
							<% params.each do |key, value|  %>
								<% if key != "utf8" && key != "authenticity_token"%>
									<%= "#{key} = #{value}"%><br />
								<% end %>
							<% end %>
					</div>
				</section>
			</section>
			
			<%= render 'layouts/footer'%>
		</div>
	</body>
</html>
